@import "../../assets/const.scss";

%label {
  position: absolute;
  top: -7px;
  left: 4px;
  padding: 0 5px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 214px;
  border: 1px solid $secondary_bg_color;
  border-radius: 5px;
  padding: 5px;
  padding-top: 9px;
  margin-top: 7px;
  row-gap: 16px;
}
.devider {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid $secondary_bg_color;
}

.label {
  @extend %label;
  color: $font_color;
  background-color: $primary_bg_color;
}

.label_light {
  @extend %label;
  color: $font_color_light;
  background-color: $light_bg_color;
}
